@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-canvas text-ink font-sans antialiased;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none;
  }
}
